# Core modules (mandatory)
jupyterlite-core==0.3.0
jupyterlab~=4.1.6
notebook~=7.1.2

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.3.2

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets>=8.1.1,<9

anywidget==0.9.13
seaborn
altair
vega_datasets
